@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="container mt-5">
    <form asp-action="RegisterAsync">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
