@{
    ViewBag.Title = "About us";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/img/AboutUs/TopWithTextAboutUs.png" class="img" width="100%" height="600">
    </div>

    <div class="row">
        <header class="jumbotron py-5 text-center">
            <h1 class="display-3">Welcome to TravelHelper!</h1>
            <p class="lead">
                This is TravelHelper. It is a platform for finding a comfortable stay for you.
                Find the suitable trip in the trips tab. View information about agencies in the tab - agencies.
                We hope you find wat you are loocking for.
            </p>
        </header>
    </div>

    <div class="row">
        <img src="~/img/AboutUs/bottomWithText.png" class="img" width="100%" height="400">
    </div>
</div>
