@model IEnumerable<TourCatalogItemViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/img/Home/TopWithText.png" class="img" width="100%" height="600">
    </div>

    <div class="row">
        <header class="jumbotron py-5 text-center">
            <h1 class="display-3">Welcome to TravelHelper!</h1>
            <p class="lead">
                This is TravelHelper. It is a platform for finding a comfortable stay for you.
                Find the suitable trip in the trips tab. View information about agencies in the tab - agencies.
                We hope you find wat you are loocking for.
            </p>
        </header>
    </div>
    <h2 class="text-center">Hot tours!</h2>
    <div class="row text-center">
        @foreach (var catalogItem in Model)
        {
            <partial model="catalogItem" name="TourSummary"/>
        }
    </div>

    <div class="row">
        <img src="~/img/Home/bottomWithText.png" class="img" width="100%" height="400" alt="">
    </div>
</div>
