@model IEnumerable<TourCatalogItemViewModel>

@{
    ViewBag.Title = "Home";
}
    <div class="container-fluid">
        <div class="row">
            <img src="~/img/Home/TopWithText.png" class="img" width="100%" height="600">
        </div>

        <div class="row">
            <header class="jumbotron py-5 text-center">
                <h1 class="display-3">Welcome to TravelHelper!</h1>
                <p class="lead">This is TravelHelper. It is a platform for finding a comfortable stay for you. Find the suitable trip in the trips tab. View information about agencies in the tab - agencies. We hope you find wat you are loocking for.</p>

            </header>
        </div>
        <div class="row text-center">
            @foreach(var catalogItem in Model) {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@catalogItem.Image.Path" alt="Hot Trip">
                    <div class="card-body">
                        <h4 class="card-title"><p>@catalogItem.Name</p></h4>
                        <p class="card-text"><p>@catalogItem.Description</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Read more!</a>
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="row">
            <img src="~/img/Home/bottomWithText.png" class="img" width="100%" height="400">
        </div>
    </div>