@model UpdateHotelViewModel

@{
    ViewBag.Title = "Update hotel";
}
    <form asp-action="UpdateAsync" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input asp-for="Id" class="form-control">
            <span asp-validation-for="Id"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country">Country</label>
            <input asp-for="Country" class="form-control">
            <span asp-validation-for="Country"></span>
        </div>
        <div class="form-group">
            <label asp-for="City">City</label>
            <input asp-for="City" class="form-control">
            <span asp-validation-for="City"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control">
            <span asp-validation-for="Address"></span>
        </div>
        <div class="form-group">
            <label asp-for="Longitude">Longitude</label>
            <input asp-for="Longitude" class="form-control">
            <span asp-validation-for="Longitude"></span>
        </div>
        <div class="form-group">
            <label asp-for="Latitude">Latitude</label>
            <input asp-for="Latitude" class="form-control">
            <span asp-validation-for="Latitude"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-outline-primary">
                Update
            </button>
        </div>
    </form>