@model LocationViewModel

@{
    ViewBag.Title = "Create location";
}
<form asp-action="CreateAsync">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label >Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
