@model TourCatalogItemViewModel

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="@Model.Image.Path" alt="Hot Trip">
        <div class="card-body">
            <h4 class="card-title">
                <p>@Model.Name</p>
            </h4>
            <p class="card-text">
            <p>@Model.Description</p>
        </div>
        <div class="card-footer">
            <a asp-action="GetById" asp-route-id="@Model.Id" class="btn btn-primary">Read more!</a>
        </div>
    </div>
</div>
